.woocommerce-checkout {
    #order_review {
        width: 100%;
    }
}
.woocommerce-checkout-review-order-table {
    border: none;
    border-collapse: collapse;
    tbody {
        tr {
            padding-top: 20px;
            padding-bottom: 20px;
            td {
                border: none;
                padding-top: 30px;
                padding-bottom: 30px;
                border-bottom: 1px solid #e5e5e5;
                vertical-align: bottom;
                padding-left: 0;
                padding-right: 0;
            }

            td.product-name {
                .product-image {
                    flex: 0 0 100px;
                    margin-right: 2rem;
                    img {
                        width: 100px;
                        height: 100px;
                        object-fit: cover;
                    }
                }
                .name {
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 1.5;
                }
                .quantity-parent {
                    border: 1px solid #e5e5e5;
                    display: inline-flex;
                    .qty {
                        -webkit-appearance: none;
                        margin: 0;
                        font-weight: 600;
                        width: 44px;
                    }
                    .qty,
                    button {
                        border: none;
                        background-color: transparent;
                        font-size: 1rem;
                        height: 36px;
                    }
                    button {
                        color: #c4c4c4;
                        width: 36px;
                        &:hover {
                            background-color: var(--black-color);
                        }
                    }
                }
            }
            td.product-total {
                position: relative;
                text-align: right;
                .woocommerce-Price-amount {
                    font-weight: 600;
                }
                .remove-item {
                    cursor: pointer;
                }
            }
        }
    }
}
