.woocommerce-checkout #order_review {
  width: 100%; }

.checkout_coupon_custom.checkout_coupon_custom.checkout_coupon_custom {
  border-radius: 0;
  padding: 0;
  border: none;
  margin: 0;
  display: flex;
  padding: 0;
  width: 100%;
  align-items: center; }
  .checkout_coupon_custom.checkout_coupon_custom.checkout_coupon_custom .form-row-last,
  .checkout_coupon_custom.checkout_coupon_custom.checkout_coupon_custom .form-row-first {
    padding: 0;
    width: auto;
    float: none !important; }
  .checkout_coupon_custom.checkout_coupon_custom.checkout_coupon_custom .form-row-first {
    flex: 1 0 0%; }
  .checkout_coupon_custom.checkout_coupon_custom.checkout_coupon_custom .form-row-last {
    flex: 0 0 auto;
    margin-left: 1rem !important; }
  .checkout_coupon_custom.checkout_coupon_custom.checkout_coupon_custom + .coupon-message {
    font-size: 15px;
    font-weight: 500;
    color: green; }
    .checkout_coupon_custom.checkout_coupon_custom.checkout_coupon_custom + .coupon-message .failed {
      color: #d10707; }

.woocommerce-checkout-review-order-table {
  border: none;
  border-collapse: collapse; }
  .woocommerce-checkout-review-order-table tbody tr {
    padding-top: 20px;
    padding-bottom: 20px; }
    .woocommerce-checkout-review-order-table tbody tr td {
      border: none;
      padding-top: 30px;
      padding-bottom: 30px;
      border-bottom: 1px solid #e5e5e5;
      vertical-align: bottom;
      padding-left: 0;
      padding-right: 0; }
    .woocommerce-checkout-review-order-table tbody tr td.product-name .product-image {
      flex: 0 0 100px;
      margin-right: 2rem; }
      .woocommerce-checkout-review-order-table tbody tr td.product-name .product-image img {
        width: 100px;
        height: 100px;
        object-fit: cover; }
    .woocommerce-checkout-review-order-table tbody tr td.product-name .name {
      font-size: 18px;
      font-weight: 700;
      line-height: 1.5; }
    .woocommerce-checkout-review-order-table tbody tr td.product-name .quantity-parent {
      border: 1px solid #e5e5e5;
      display: inline-flex; }
      .woocommerce-checkout-review-order-table tbody tr td.product-name .quantity-parent .quantity_wrap .quantity_label {
        display: none; }
      .woocommerce-checkout-review-order-table tbody tr td.product-name .quantity-parent .qty {
        -webkit-appearance: none;
        margin: 0;
        font-weight: 600;
        width: 44px; }
      .woocommerce-checkout-review-order-table tbody tr td.product-name .quantity-parent .qty,
      .woocommerce-checkout-review-order-table tbody tr td.product-name .quantity-parent button {
        border: none;
        background-color: transparent;
        font-size: 1rem;
        height: 36px;
        padding: 0;
        border-radius: 0; }
      .woocommerce-checkout-review-order-table tbody tr td.product-name .quantity-parent button {
        color: #c4c4c4;
        width: 36px; }
        .woocommerce-checkout-review-order-table tbody tr td.product-name .quantity-parent button:hover {
          background-color: var(--black-color); }
    .woocommerce-checkout-review-order-table tbody tr td.product-total {
      position: relative;
      text-align: right;
      width: 15% !important; }
      .woocommerce-checkout-review-order-table tbody tr td.product-total .woocommerce-Price-amount {
        font-weight: 600; }
      .woocommerce-checkout-review-order-table tbody tr td.product-total .remove-item {
        cursor: pointer; }

.search-section-products.search-section-products .results-holder {
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden; }
  .search-section-products.search-section-products .results-holder .post-item-holder .post-item .row .col-image {
    flex: 0 0 100px; }
  .search-section-products.search-section-products .results-holder .post-item-holder .post-item .row .col-content h4 {
    margin-bottom: 0; }

.page-id-8978 .product_button {
  display: none !important; }

#productModal .modal-dialog {
  max-width: 1000px; }
  #productModal .modal-dialog .woocommerce-product-gallery {
    display: none !important; }
  #productModal .modal-dialog .summary {
    width: 100%; }
  #productModal .modal-dialog .elementor {
    display: none; }

/*# sourceMappingURL=checkout.css.map */
