.woocommerce-checkout #order_review {
  width: 100%; }

.page-id-8978.page-id-8978 #page #wc-square-digital-wallet {
  display: none !important; }
.page-id-8978.page-id-8978 #page #content {
  margin-top: 0;
  padding-left: 0;
  padding-right: 0; }
  .page-id-8978.page-id-8978 #page #content .col-full {
    max-width: 100% !important; }
.page-id-8978.page-id-8978 .header-group-action,
.page-id-8978.page-id-8978 .header-center,
.page-id-8978.page-id-8978 .header-right {
  display: none !important; }
.page-id-8978.page-id-8978 .header-left {
  width: 100%; }
.page-id-8978.page-id-8978 .site-branding {
  margin-right: 0 !important; }
  .page-id-8978.page-id-8978 .site-branding img {
    margin-left: auto;
    margin-right: auto; }

.checkout_coupon_custom.checkout_coupon_custom.checkout_coupon_custom {
  border-radius: 0;
  padding: 0;
  border: none;
  margin: 0;
  display: flex;
  padding: 0;
  width: 100%;
  align-items: center; }
  .checkout_coupon_custom.checkout_coupon_custom.checkout_coupon_custom .form-row-last,
  .checkout_coupon_custom.checkout_coupon_custom.checkout_coupon_custom .form-row-first {
    padding: 0;
    width: auto;
    float: none !important;
    margin: 0; }
  .checkout_coupon_custom.checkout_coupon_custom.checkout_coupon_custom input {
    min-height: 53px; }
  .checkout_coupon_custom.checkout_coupon_custom.checkout_coupon_custom .form-row-first {
    flex: 1 0 0%; }
  .checkout_coupon_custom.checkout_coupon_custom.checkout_coupon_custom .form-row-last {
    flex: 0 0 auto;
    margin-left: 1rem !important; }
  .checkout_coupon_custom.checkout_coupon_custom.checkout_coupon_custom + .coupon-message {
    font-size: 15px;
    font-weight: 500;
    color: green; }
    .checkout_coupon_custom.checkout_coupon_custom.checkout_coupon_custom + .coupon-message .failed {
      color: #d10707; }

.woocommerce-checkout-review-order-table {
  border: none;
  border-collapse: collapse; }
  .woocommerce-checkout-review-order-table tbody tr {
    padding-top: 20px;
    padding-bottom: 20px; }
    .woocommerce-checkout-review-order-table tbody tr td {
      border: none;
      padding-top: 30px;
      padding-bottom: 30px;
      border-bottom: 1px solid #e5e5e5;
      vertical-align: bottom;
      padding-left: 0;
      padding-right: 0; }
    .woocommerce-checkout-review-order-table tbody tr td.product-name .product-image {
      flex: 0 0 100px;
      margin-right: 2rem; }
      .woocommerce-checkout-review-order-table tbody tr td.product-name .product-image img {
        width: 100px;
        height: 100px;
        object-fit: cover; }
    .woocommerce-checkout-review-order-table tbody tr td.product-name .name {
      font-size: 18px;
      font-weight: 700;
      line-height: 1.5; }
    .woocommerce-checkout-review-order-table tbody tr td.product-name .quantity-parent {
      border: 1px solid #e5e5e5;
      display: inline-flex; }
      .woocommerce-checkout-review-order-table tbody tr td.product-name .quantity-parent .quantity_wrap .quantity_label {
        display: none; }
      .woocommerce-checkout-review-order-table tbody tr td.product-name .quantity-parent .qty {
        -webkit-appearance: none;
        margin: 0;
        font-weight: 600;
        width: 44px; }
      .woocommerce-checkout-review-order-table tbody tr td.product-name .quantity-parent .qty,
      .woocommerce-checkout-review-order-table tbody tr td.product-name .quantity-parent button {
        border: none;
        background-color: transparent;
        font-size: 1rem;
        height: 36px;
        padding: 0;
        border-radius: 0; }
      .woocommerce-checkout-review-order-table tbody tr td.product-name .quantity-parent button {
        color: #c4c4c4;
        width: 36px; }
        .woocommerce-checkout-review-order-table tbody tr td.product-name .quantity-parent button:hover {
          background-color: var(--black-color); }
    .woocommerce-checkout-review-order-table tbody tr td.product-total {
      position: relative;
      text-align: right;
      width: 15% !important; }
      .woocommerce-checkout-review-order-table tbody tr td.product-total .woocommerce-Price-amount {
        font-weight: 600; }
      .woocommerce-checkout-review-order-table tbody tr td.product-total .remove-item {
        cursor: pointer; }

.search-section-products.search-section-products .post-item-holder.post-item-holder.post-item-holder .post-item {
  margin-bottom: 10px;
  padding-bottom: 10px; }
  .search-section-products.search-section-products .post-item-holder.post-item-holder.post-item-holder .post-item .row .col-image {
    flex: 0 0 80px; }
  .search-section-products.search-section-products .post-item-holder.post-item-holder.post-item-holder .post-item .row .col-content .plus-minus {
    padding: 10px;
    border-radius: 0; }
  .search-section-products.search-section-products .post-item-holder.post-item-holder.post-item-holder .post-item .row .col-content p {
    margin-bottom: 6px;
    line-height: 1;
    font-size: 14px; }
  .search-section-products.search-section-products .post-item-holder.post-item-holder.post-item-holder .post-item .row .col-content h4 {
    margin-bottom: 0; }

#add-to-order {
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer; }
  #add-to-order svg {
    width: 20px;
    height: 20px;
    display: none;
    margin-left: 1rem; }
    #add-to-order svg path {
      fill: #fff; }
  #add-to-order.adding svg {
    display: inline-block;
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; }

.page-id-8978 .product_button {
  display: none !important; }

#productModal .modal-dialog {
  max-width: 1000px; }
  #productModal .modal-dialog .woocommerce-product-gallery {
    display: none !important; }
  #productModal .modal-dialog .summary {
    width: 100%;
    max-width: 100% !important; }
  #productModal .modal-dialog .elementor,
  #productModal .modal-dialog .related {
    display: none !important; }

.select-products {
  padding: 2rem;
  background-color: var(--light-gray-color);
  border-radius: 10px;
  margin-bottom: 2rem; }

section.logged-in-as {
  background-color: var(--accent-color);
  padding-top: 20px;
  padding-bottom: 20px; }
  section.logged-in-as a:hover {
    color: #000;
    text-decoration: underline !important; }

section.select-user .inner {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--light-gray-color);
  padding: 2rem;
  border-radius: 10px; }

.loading-results svg {
  width: 40px;
  height: 40px;
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; }

.custom-forms a {
  cursor: pointer;
  min-width: 195px;
  text-align: center; }

/*# sourceMappingURL=checkout.css.map */
