.woocommerce-checkout {
    #order_review {
        width: 100%;
    }
}

.page-id-8978.page-id-8978 {
    #page {
        #content {
            margin-top: 0;
            padding-left: 0;
            padding-right: 0;
            .col-full {
                max-width: 100% !important;
            }
        }
    }
    .header-group-action,
    .header-center,
    .header-right {
        display: none !important;
    }
    .header-left {
        width: 100%;
    }
    .site-branding {
        margin-right: 0 !important;
        img {
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.checkout_coupon_custom.checkout_coupon_custom.checkout_coupon_custom {
    border-radius: 0;
    padding: 0;
    border: none;
    margin: 0;
    display: flex;
    padding: 0;
    width: 100%;
    align-items: center;
    .form-row-last,
    .form-row-first {
        padding: 0;
        width: auto;
        float: none !important;
        margin: 0;
    }
    input {
        min-height: 53px;
    }

    .form-row-first {
        flex: 1 0 0%;
    }
    .form-row-last {
        flex: 0 0 auto;
        margin-left: 1rem !important;
    }
    & + .coupon-message {
        font-size: 15px;
        font-weight: 500;
        color: green;
        .failed {
            color: #d10707;
        }
    }
}
.woocommerce-checkout-review-order-table {
    border: none;
    border-collapse: collapse;
    tbody {
        tr {
            padding-top: 20px;
            padding-bottom: 20px;
            td {
                border: none;
                padding-top: 30px;
                padding-bottom: 30px;
                border-bottom: 1px solid #e5e5e5;
                vertical-align: bottom;
                padding-left: 0;
                padding-right: 0;
            }

            td.product-name {
                .product-image {
                    flex: 0 0 100px;
                    margin-right: 2rem;
                    img {
                        width: 100px;
                        height: 100px;
                        object-fit: cover;
                    }
                }
                .name {
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 1.5;
                }
                .quantity-parent {
                    border: 1px solid #e5e5e5;
                    display: inline-flex;
                    .quantity_wrap {
                        .quantity_label {
                            display: none;
                        }
                    }
                    .qty {
                        -webkit-appearance: none;
                        margin: 0;
                        font-weight: 600;
                        width: 44px;
                    }
                    .qty,
                    button {
                        border: none;
                        background-color: transparent;
                        font-size: 1rem;
                        height: 36px;
                        padding: 0;
                        border-radius: 0;
                    }
                    button {
                        color: #c4c4c4;
                        width: 36px;
                        &:hover {
                            background-color: var(--black-color);
                        }
                    }
                }
            }
            td.product-total {
                position: relative;
                text-align: right;
                width: 15% !important;
                .woocommerce-Price-amount {
                    font-weight: 600;
                }
                .remove-item {
                    cursor: pointer;
                }
            }
        }
    }
}

.search-section-products.search-section-products {
    .post-item-holder.post-item-holder.post-item-holder {
        .post-item {
            margin-bottom: 10px;
            padding-bottom: 10px;
            .row {
                .col-image {
                    flex: 0 0 80px;
                }
                .col-content {
                    .plus-minus {
                        padding: 10px;
                        border-radius: 0;
                    }
                    p {
                        margin-bottom: 6px;
                        line-height: 1;
                        font-size: 14px;
                    }
                    h4 {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

#add-to-order {
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    svg {
        width: 20px;
        height: 20px;
        display: none;
        margin-left: 1rem;
        path {
            fill: #fff;
        }
    }
    &.adding {
        svg {
            display: inline-block;
            animation-name: spin;
            animation-duration: 5000ms;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }
    }
}

.page-id-8978 {
    .product_button {
        display: none !important;
    }
}
#productModal {
    .modal-dialog {
        max-width: 1000px;
        .woocommerce-product-gallery {
            display: none !important;
        }
        .summary {
            width: 100%;
            max-width: 100% !important;
        }
        .elementor,
        .related {
            display: none !important;
        }
    }
}

.select-products {
    padding: 2rem;
    background-color: var(--light-gray-color);
    border-radius: 10px;
    margin-bottom: 2rem;
}

section.logged-in-as {
    background-color: var(--accent-color);
    padding-top: 20px;
    padding-bottom: 20px;

    a {
        &:hover {
            color: #000;
            text-decoration: underline !important;
        }
    }
}

section.select-user {
    .inner {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
        background-color: var(--light-gray-color);
        padding: 2rem;
        border-radius: 10px;
    }
}



.loading-results {
    svg {
        width: 40px;
        height: 40px;
        animation-name: spin;
        animation-duration: 5000ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
}

.custom-forms {
    a {
        cursor: pointer;
    }
}