.elementor-button-link,
.eael-infobox-button {
  border-radius: 50px !important;
  font-weight: 500 !important;
  letter-spacing: 0.8px !important;
  padding: 1rem 2rem !important;
  line-height: 1 !important;
  font-size: 1rem !important; }

@keyframes rotate_left {
  0% {
    transform: rotate(0deg) translateX(100px) rotate(0deg); }
  100% {
    transform: rotate(-360deg) translateX(100px) rotate(360deg); } }
@keyframes rotate_right {
  0% {
    transform: rotate(0deg) translateX(100px) rotate(0deg); }
  100% {
    transform: rotate(360deg) translateX(100px) rotate(-360deg); } }
@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(45, 161, 255, 0.7); }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(45, 161, 255, 0); }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(45, 161, 255, 0); } }
@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
body {
  color: var(--primary-color); }

.checkout-section.checkout-section {
  font-family: "Poppins"; }
  .checkout-section.checkout-section .nav-box ul li {
    display: flex;
    align-items: center; }
    .checkout-section.checkout-section .nav-box ul li.active {
      font-weight: bold; }
    .checkout-section.checkout-section .nav-box ul li:not(:last-child):after {
      content: "";
      background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="5" height="8" fill="none"><path d="M1 1l3 3-3 3" stroke="%23000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
      content: "";
      display: inline-block;
      height: 10px;
      text-align: center;
      width: 20px;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat; }
  .checkout-section.checkout-section .column-order {
    border-left: 1px solid #e5e5e5; }
    .checkout-section.checkout-section .column-order .column-holder {
      position: sticky;
      top: 0;
      padding-bottom: 50px; }
    .checkout-section.checkout-section .column-order .woocommerce-checkout-review-order-table {
      border: none;
      border-collapse: collapse; }
      .checkout-section.checkout-section .column-order .woocommerce-checkout-review-order-table tbody tr {
        padding-top: 20px;
        padding-bottom: 20px; }
        .checkout-section.checkout-section .column-order .woocommerce-checkout-review-order-table tbody tr td {
          border: none;
          padding-top: 30px;
          padding-bottom: 30px;
          border-bottom: 1px solid #e5e5e5;
          vertical-align: bottom;
          padding-left: 0;
          padding-right: 0; }
        .checkout-section.checkout-section .column-order .woocommerce-checkout-review-order-table tbody tr td.product-name .product-image {
          flex: 0 0 100px;
          margin-right: 2rem; }
          .checkout-section.checkout-section .column-order .woocommerce-checkout-review-order-table tbody tr td.product-name .product-image img {
            width: 100px;
            height: 100px;
            object-fit: cover; }
        .checkout-section.checkout-section .column-order .woocommerce-checkout-review-order-table tbody tr td.product-name .name {
          font-size: 18px;
          font-weight: 700;
          line-height: 1.5; }
        .checkout-section.checkout-section .column-order .woocommerce-checkout-review-order-table tbody tr td.product-name .quantity-parent {
          border: 1px solid #e5e5e5;
          display: inline-flex; }
          .checkout-section.checkout-section .column-order .woocommerce-checkout-review-order-table tbody tr td.product-name .quantity-parent .qty {
            -webkit-appearance: none;
            margin: 0;
            font-weight: 600;
            width: 44px; }
          .checkout-section.checkout-section .column-order .woocommerce-checkout-review-order-table tbody tr td.product-name .quantity-parent .qty,
          .checkout-section.checkout-section .column-order .woocommerce-checkout-review-order-table tbody tr td.product-name .quantity-parent button {
            border: none;
            background-color: transparent;
            font-size: 1rem;
            height: 36px; }
          .checkout-section.checkout-section .column-order .woocommerce-checkout-review-order-table tbody tr td.product-name .quantity-parent button {
            color: #c4c4c4;
            width: 36px; }
            .checkout-section.checkout-section .column-order .woocommerce-checkout-review-order-table tbody tr td.product-name .quantity-parent button:hover, .checkout-section.checkout-section .column-order .woocommerce-checkout-review-order-table tbody tr td.product-name .quantity-parent button:active, .checkout-section.checkout-section .column-order .woocommerce-checkout-review-order-table tbody tr td.product-name .quantity-parent button:focus {
              background-color: var(--black-color); }
        .checkout-section.checkout-section .column-order .woocommerce-checkout-review-order-table tbody tr td.product-total {
          position: relative;
          text-align: right; }
          .checkout-section.checkout-section .column-order .woocommerce-checkout-review-order-table tbody tr td.product-total .woocommerce-Price-amount {
            font-weight: 600; }
          .checkout-section.checkout-section .column-order .woocommerce-checkout-review-order-table tbody tr td.product-total .remove-item {
            cursor: pointer; }
  .checkout-section.checkout-section .woocommerce-checkout .select2-container--default .select2-search--dropdown .select2-search__field,
  .checkout-section.checkout-section .woocommerce-checkout .select2-selection {
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    box-shadow: none;
    color: #16110e;
    font-size: 16px;
    line-height: 28px;
    width: 100%;
    background-color: #fff !important;
    background-image: unset !important;
    display: block;
    max-width: unset;
    opacity: 1; }
  .checkout-section.checkout-section .button {
    padding: 20px 30px;
    border-radius: 50px;
    background-color: var(--black-color);
    color: var(--white-color); }
    .checkout-section.checkout-section .button:hover, .checkout-section.checkout-section .button:active, .checkout-section.checkout-section .button:focus {
      background-color: #16110e;
      color: var(--white-color); }
  .checkout-section.checkout-section .step-buttons a {
    cursor: pointer; }
  .checkout-section.checkout-section .shipping-methods {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 0; }
    .checkout-section.checkout-section .shipping-methods .shipping-method-title {
      font-size: 1rem; }
    .checkout-section.checkout-section .shipping-methods .woocommerce-shipping-methods {
      flex: 0 0 50%;
      text-align: end;
      font-size: 1rem; }
      .checkout-section.checkout-section .shipping-methods .woocommerce-shipping-methods li {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between; }
  .checkout-section.checkout-section .previous-steps {
    margin-bottom: 3rem; }
    .checkout-section.checkout-section .previous-steps .previous-step {
      background-color: transparent !important;
      background-image: unset !important;
      border: 1px solid #e5e5e5;
      border-radius: 4px;
      box-shadow: none;
      color: #16110e;
      display: block;
      font-size: 16px;
      line-height: 28px;
      max-width: unset;
      opacity: 1;
      padding: 12px 16px;
      transition: all 0.2s ease;
      width: 100%;
      margin-bottom: 1rem; }
      .checkout-section.checkout-section .previous-steps .previous-step .back-to {
        font-weight: bold;
        color: var(--accent-color);
        cursor: pointer; }
  .checkout-section.checkout-section #ship-to-different-address {
    font-size: 1rem;
    color: var(--primary-color); }
    .checkout-section.checkout-section #ship-to-different-address input {
      margin: -2px 8px 0 0; }
    .checkout-section.checkout-section #ship-to-different-address span {
      color: inherit; }
  .checkout-section.checkout-section #checkbox_trigger_field {
    font-weight: 600;
    padding: 0;
    margin: 0; }
  .checkout-section.checkout-section .td-coupon .notice {
    margin-top: 2rem;
    font-size: 15px;
    line-height: 1.3;
    font-weight: 400; }
  .checkout-section.checkout-section tfoot tr td,
  .checkout-section.checkout-section tfoot tr th {
    border: none;
    padding: 0;
    font-weight: 400; }
  .checkout-section.checkout-section tfoot tr td {
    text-align: right; }
  .checkout-section.checkout-section tfoot tr:first-child th,
  .checkout-section.checkout-section tfoot tr:first-child td {
    padding-top: 30px; }
  .checkout-section.checkout-section tfoot tr.order-total th,
  .checkout-section.checkout-section tfoot tr.order-total td {
    border-top: 1px solid #e5e5e5;
    font-size: 20px;
    font-weight: bold;
    padding-top: 30px; }
  .checkout-section.checkout-section tfoot tr.tax-rate th,
  .checkout-section.checkout-section tfoot tr.tax-rate td {
    padding-bottom: 30px; }

.checkout_coupon_custom.checkout_coupon_custom.checkout_coupon_custom {
  border-radius: 0;
  padding: 0;
  border: none;
  margin: 0;
  display: flex;
  padding: 0;
  width: 100%; }
  .checkout_coupon_custom.checkout_coupon_custom.checkout_coupon_custom .form-row-last,
  .checkout_coupon_custom.checkout_coupon_custom.checkout_coupon_custom .form-row-first {
    padding: 0;
    width: auto; }
  .checkout_coupon_custom.checkout_coupon_custom.checkout_coupon_custom .form-row-first {
    flex: 1 0 0%; }
  .checkout_coupon_custom.checkout_coupon_custom.checkout_coupon_custom .form-row-last {
    flex: 0 0 auto;
    margin-left: 1rem !important; }
  .checkout_coupon_custom.checkout_coupon_custom.checkout_coupon_custom + .coupon-message {
    font-size: 15px;
    font-weight: 500;
    color: green; }
    .checkout_coupon_custom.checkout_coupon_custom.checkout_coupon_custom + .coupon-message .failed {
      color: #d10707; }

.wc-stripe-elements-field.wc-stripe-elements-field.wc-stripe-elements-field,
.wc-stripe-iban-element-field.wc-stripe-iban-element-field {
  border-color: #e5e5e5;
  border-radius: 4px;
  padding: 17px 60px 17px 16px; }

.woocommerce-checkout.woocommerce-checkout.woocommerce-checkout a {
  text-decoration: none; }
.woocommerce-checkout.woocommerce-checkout.woocommerce-checkout p.form-row {
  padding: 0;
  margin: 0 0 1rem; }
.woocommerce-checkout.woocommerce-checkout.woocommerce-checkout input:not([type="submit"]):not(.qty):not([type="checkbox"]):not([type="radio"]):not(.search),
.woocommerce-checkout.woocommerce-checkout.woocommerce-checkout select,
.woocommerce-checkout.woocommerce-checkout.woocommerce-checkout textarea {
  -webkit-appearance: auto;
  -moz-appearance: auto;
  appearance: auto;
  background-color: transparent !important;
  background-image: unset !important;
  border: 1px solid #e5e5e5 !important;
  border-radius: 4px;
  box-shadow: none;
  color: #16110e;
  display: block;
  font-size: 16px;
  line-height: 28px;
  max-width: unset;
  opacity: 1;
  padding: 12px 54px 12px 16px;
  transition: all 0.2s ease;
  width: 100%; }
.woocommerce-checkout.woocommerce-checkout.woocommerce-checkout .woocommerce-error,
.woocommerce-checkout.woocommerce-checkout.woocommerce-checkout .woocommerce-message {
  display: none !important; }
.woocommerce-checkout.woocommerce-checkout.woocommerce-checkout .the-content {
  padding: 0 !important; }

#payment.woocommerce-checkout-payment.woocommerce-checkout-payment {
  background-color: transparent; }
  #payment.woocommerce-checkout-payment.woocommerce-checkout-payment ul.wc_payment_methods {
    background-color: transparent;
    list-style-type: none;
    margin: 0 0 32px;
    padding: 0;
    border-radius: 0; }
    #payment.woocommerce-checkout-payment.woocommerce-checkout-payment ul.wc_payment_methods li.wc_payment_method {
      border-bottom: none;
      border: 1px solid #e5e5e5; }
      #payment.woocommerce-checkout-payment.woocommerce-checkout-payment ul.wc_payment_methods li.wc_payment_method input {
        display: none; }
        #payment.woocommerce-checkout-payment.woocommerce-checkout-payment ul.wc_payment_methods li.wc_payment_method input + label {
          background-color: transparent;
          cursor: pointer;
          margin: 16px;
          padding: 0;
          align-items: center;
          cursor: pointer;
          display: flex !important;
          font-size: 16px;
          font-weight: 700;
          gap: 8px;
          padding-left: 0 !important;
          position: relative !important;
          top: 0 !important; }
          #payment.woocommerce-checkout-payment.woocommerce-checkout-payment ul.wc_payment_methods li.wc_payment_method input + label:before {
            background: transparent !important;
            border: 2px solid #b9b8b7;
            border-radius: 100%;
            box-shadow: none;
            content: "";
            display: inline-block;
            height: 16px;
            margin: 0;
            transform: none;
            transition: box-shadow 0.2s;
            vertical-align: middle;
            width: 16px; }
        #payment.woocommerce-checkout-payment.woocommerce-checkout-payment ul.wc_payment_methods li.wc_payment_method input:checked + label:before {
          border: 2px solid #16110e !important;
          box-shadow: inset 0 0 0 4px #16110e !important; }
      #payment.woocommerce-checkout-payment.woocommerce-checkout-payment ul.wc_payment_methods li.wc_payment_method .payment_box {
        background-color: #f9fafc;
        border-top: 1px solid #e5e5e5;
        margin: 0;
        padding: 16px; }
        #payment.woocommerce-checkout-payment.woocommerce-checkout-payment ul.wc_payment_methods li.wc_payment_method .payment_box:before {
          content: none; }
      #payment.woocommerce-checkout-payment.woocommerce-checkout-payment ul.wc_payment_methods li.wc_payment_method:first-child {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px; }
      #payment.woocommerce-checkout-payment.woocommerce-checkout-payment ul.wc_payment_methods li.wc_payment_method:last-child {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px; }

.place-order-buttons .back-to {
  cursor: pointer; }

.basket-heading h2 {
  display: inline-flex;
  align-items: center; }
  .basket-heading h2 svg {
    margin-right: 1rem; }
.basket-heading .count {
  font-size: 1rem;
  width: 30px;
  height: 30px;
  background-color: var(--primary-color);
  color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-left: 1rem; }
  .basket-heading .count span {
    color: inherit; }

.stripe-source-errors .woocommerce-error.woocommerce-error.woocommerce-error {
  display: block !important; }

.woocommerce-remove-coupon {
  color: var(--accent-color); }

/*# sourceMappingURL=checkout.css.map */
